<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smabro_app.infrastructure.mapper.CharacterMapper">

    <select id="getRanking" resultType="com.example.smabro_app.infrastructure.model.response.CharacterResponse">
        select Users.main_character_id, character_name, count(*) as count
        from Users left outer join Characters
        on Users.main_character_id = Characters.id
        group by Users.main_character_id
        order by count desc
    </select>
</mapper>